.home {
  position: relative;
}
.homeSec {
  position: relative;
  height: 87.5vh;
  object-fit: cover;
  background-image: url(../../Images/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
