.active {
  color: #005ea1;
  font-weight: 700;
  position: relative;
}
.active:before {
  background-color: #005ea1;
  bottom: -1.5px;
  content: "";
  height: 1.5px;
  left: 0;
  position: absolute;
  width: 100%;
}
.active_mobile {
  color: #005ea1;
  font-weight: 700;
  position: relative;
}
